<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Add Card</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="header_div" [class.ios_header]="plt == 'ios'">
    <ion-label class="title_lbl">Add New Card</ion-label>
    <ion-button (click)="goBack()" fill="clear" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="main_content_div" [class.ios_main]="plt == 'ios'">

    <ion-label class="simple_lbl">Add New Card Here</ion-label>

    <ion-label class="small_lbl">Card Name</ion-label>
    <ion-input type="text" placeholder="Card Name"></ion-input>

    <div class="box_div">

      <ion-label class="small_lbl">Card Holder Name</ion-label>
      <ion-input type="text" placeholder="Card Holder Name"></ion-input>

      <ion-label class="small_lbl">Card No</ion-label>
      <ion-input type="text" placeholder="Card No."></ion-input>

      <ion-grid>
        <ion-row>
          <ion-col size="6" style="padding-left: 0px;">
            <ion-label class="small_lbl">Exp. Date</ion-label>
            <ion-datetime display-format="MM/YYYY" placeholder="MM/YYYY"></ion-datetime>
          </ion-col>
          <ion-col size="6" style="padding-right: 0px;">
            <ion-label class="small_lbl">CVV</ion-label>
            <ion-input type="text" placeholder="CVV" maxLength="3"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="btn_div">
        <ion-button (click)="goToSuceess()" shape="round">
          Add Card
        </ion-button>
      </div>


    </div>

  </div>
</ion-content>
