// ion-toolbar{
//     // --background: var(--ion-color-primary);
//     border-bottom-right-radius: 25px;
//     height: 70px;
//     display: flex;
//     --background: linear-gradient(to right,var(--ion-color-primary),#1c7168);
// }
.main_content_div{
    width: 100%;
    padding: 16px;
    padding-top: 80px;

    ion-label {
        display: block;
    }

    .simple_lbl{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .small_lbl{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .card_div{
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-bottom: 15px;

        .up_div{
            padding: 10px;

            .flex_div{
                display: flex;
                align-items: center;

                ion-icon{
                    font-size: 20px;
                    color: lightgray;
                    margin-right: 10px;
                }
                ion-label {
                    color: gray;
                }
                
            }
        }
        .bottom_div{
            padding: 10px;
            border-top: 1px solid lightgray;
            display: flex;
            justify-content: space-between;

            .cleaner_detail{
                color: var(--ion-color-primary);
                font-family: 'semi-bold';
            }
        }
    }
}