<ion-header class="ion-no-border">
  <ion-toolbar style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
    <ion-title color="light" class="">Booking Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="simple_lbl">Your Booking Details</ion-label>

    <ion-label class="light_lbl">Booking ID</ion-label>
    <ion-label class="small_lbl">123erre</ion-label>

    <ion-label class="light_lbl">No. of Resources</ion-label>
    <ion-label class="small_lbl">3</ion-label>

    <ion-label class="light_lbl">Service Materials</ion-label>
    <ion-label class="small_lbl">Yes</ion-label>

    <ion-label class="light_lbl">Time</ion-label>
    <ion-label class="small_lbl">10:00 AM to 02:00 PM</ion-label>

    <ion-label class="light_lbl">Special Requirement</ion-label>
    <ion-label class="small_lbl">No</ion-label>

    <ion-label class="light_lbl">Address</ion-label>
    <ion-label class="small_lbl">316, Eva surbhi complex, Aksharwaso road, Bhavnagar - 364001</ion-label>
  </div>
</ion-content>
