<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title color="light">Home</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

  <div class="header_div" [class.ios_header]="plt == 'ios'">
    <ion-row>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <a [routerLink]="'/en-za/home'">
              <img src="assets/imgs/logo.png" alt="DM CPE">
            </a>
          </ion-buttons>
        </ion-menu-toggle>

<!--        <ion-menu-button [menu]="menu" auto-hide>-->
<!--        </ion-menu-button>-->
      </ion-col>
      <ion-col size="10" *ngIf="authService.isActivated">
        <div class="profile" *ngIf="user">
          {{ user['displayName'] || user['email'] }}
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class="profile" *ngIf="!user">
          <ion-icon name="sign-in"></ion-icon>
          <a href="javascript:void()" color="secondary" [routerLink]="'/login'" shape="round">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Log in | Sign up
          </a>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="main_content_div" [class.ios_main]="plt == 'ios'">

    <ion-label class="simple_lbl" color="primary">Welcome</ion-label>
    <ion-label class="bold_lbl" color="secondary">Discover our services, what we do and more...</ion-label>

    <!-- <ion-searchbar placeholder="Search Services" showCancelButton="never"></ion-searchbar> -->

<!--    <ion-input type="text" placeholder="Search Service">-->
<!--      <ion-icon name="search"></ion-icon>-->
<!--    </ion-input>-->

    <div class="slider_div" style="height: 500px; margin: 20px -123px;">
      <ion-slides mode="ios" pager="ios" (ionSlideTransitionEnd)="extendSlides($event)" [options]="slideOpts" (ionSlideTap)="goToNextSlide()">
        <ion-slide *ngFor="let slide of slidesList" style="width: 80%;">
          <div class="inner_slide bg_image" [style.backgroundImage]="slide.background"></div>
          <div class="slide_content">
            <ion-col>
              <ion-label class="simple_lbl" color="tertiary">{{ slide.title }}</ion-label>
              <ion-label class="bold_lbl" color="tertiary">{{ slide.description }}</ion-label>
              <button *ngIf="!slide.function" color="primary" (click)="goToPage(slide.link)" class="button-native" style="
                  border-radius: 0;
                  box-shadow: 1px 5px 16px 0px #000;
                  padding: 10px;
                  background: var(--ion-color-primary);
                  color: white;
                  ">
                <ion-label>{{ slide.buttonText }}  <ion-icon name="chevron-forward-sharp"></ion-icon></ion-label>
              </button>
              <button *ngIf="slide.function" color="primary" (click)="slide.function()" class="button-native" style="
                  border-radius: 0;
                  box-shadow: 1px 5px 16px 0px #000;
                  padding: 10px;
                  background: var(--ion-color-primary);
                  color: white;
                  ">
                <ion-label>{{ slide.buttonText }}  <ion-icon name="chevron-forward-sharp"></ion-icon></ion-label>
              </button>
            </ion-col>
          </div>
        </ion-slide>
<!--        <ion-slide style="width: 80%;">-->
<!--          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/carpentry-big.jpg)'"></div>-->
<!--          <div class="slide_content">-->
<!--            <ion-col>-->
<!--              <ion-label class="simple_lbl" color="tertiary">Welcome</ion-label>-->
<!--              <ion-label class="bold_lbl" color="tertiary">Discover our services, what we do and more...</ion-label>-->
<!--            </ion-col>-->
<!--          </div>-->
<!--        </ion-slide>-->
<!--        <ion-slide style="width: 80%;">-->
<!--          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/wood.jpg)'">-->
<!--          </div>-->
<!--          <div class="slide_content">-->
<!--            <ion-col>-->
<!--              <ion-label class="simple_lbl" color="tertiary">Welcome</ion-label>-->
<!--              <ion-label class="bold_lbl" color="tertiary">Discover our services, what we do and more...</ion-label>-->
<!--            </ion-col>-->
<!--          </div>-->
<!--        </ion-slide>-->
<!--        <ion-slide style="width: 80%;">-->
<!--          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/slide3.jpg)'"></div>-->
<!--          <div class="slide_content">-->
<!--            <ion-col>-->
<!--              <ion-label class="simple_lbl" color="tertiary">Welcome</ion-label>-->
<!--              <ion-label class="bold_lbl" color="tertiary">Discover our services, what we do and more...</ion-label>-->
<!--            </ion-col>-->
<!--          </div>-->
<!--        </ion-slide>-->
      </ion-slides>
    </div>
    <ion-item-divider></ion-item-divider>
    <ion-label class="bold_lbl" color="secondary">Featured</ion-label>
   <app-service-content></app-service-content>


<!--    <div class="btn_div">-->
<!--      <ion-button (click)="goToSelectDate()" shape="round">-->
<!--        Next <ion-icon slot="end" name="arrow-forward"></ion-icon>-->
<!--      </ion-button>-->
<!--    </div>-->

  </div>
    <app-footer></app-footer>
</ion-content>
