<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title color="light">Home</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>

  <div class="header_div" [class.ios_header]="plt == 'ios'">
    <ion-row>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <a [routerLink]="'/tabs/home'">
              <img src="assets/imgs/logo.png" alt="DMCPE">
            </a>
          </ion-buttons>
        </ion-menu-toggle>

<!--        <ion-menu-button [menu]="menu" auto-hide>-->
<!--        </ion-menu-button>-->
      </ion-col>
      <ion-col size="10">
        <div class="profile" *ngIf="user">
          {{ user['displayName'] || user['email'] }}
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class="profile" *ngIf="!user">
          <ion-icon name="sign-in"></ion-icon>
          <a href="javascript:void()" color="secondary" [routerLink]="'/login'" shape="round">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Log in | Sign up
          </a>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="main_content_div" [class.ios_main]="plt == 'ios'">

    <ion-label class="simple_lbl" color="primary">Welcome</ion-label>
    <ion-label class="bold_lbl" color="secondary">Discover our services</ion-label>

    <!-- <ion-searchbar placeholder="Search Services" showCancelButton="never"></ion-searchbar> -->

<!--    <ion-input type="text" placeholder="Search Service">-->
<!--      <ion-icon name="search"></ion-icon>-->
<!--    </ion-input>-->

    <div class="slider_div" style="height: 500px; margin: 20px -123px;">
      <ion-slides mode="ios" pager="ios"  [options]="slideOpts" (ionSlideTap)="goToNextSlide()">
        <ion-slide style="width: 80%;">
          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/female-construction-worker.jpg)'"></div>
          <div class="slide_content">
            <ion-label class="simple_lbl">Discover</ion-label>
            <ion-label class="bold_lbl">Services</ion-label>
            <p></p>
          </div>
        </ion-slide>
        <ion-slide style="width: 80%;">
          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/carpentry-big.jpg)'">
          </div>
          <div class="slide_content">
            <ion-label class="simple_lbl">Discover</ion-label>
            <ion-label class="bold_lbl">Services</ion-label>
            <p></p>
          </div>
        </ion-slide>
        <ion-slide style="width: 80%;">
          <div class="inner_slide bg_image" [style.backgroundImage]="'url(assets/imgs/slide3.jpg)'"></div>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-item-divider></ion-item-divider>
    <ion-label class="simple_lbl">Services</ion-label>
    <ion-card-subtitle>Book a service today!</ion-card-subtitle>
    <div style="margin: auto; width: fit-content; background: url('assets/imgs/repeated-square.png'); min-height: 683px;">
      <ion-grid >
        <ion-row>
          <ion-col size-lg="4" size-md="3" size-sm="12" *ngFor="let item of services; let i = index">

            <ion-card>
              <img [alt]="item.name" [src]="item.img">
              <ion-card-header>
                <ion-card-title>
                  {{item.name}}
                </ion-card-title>
                <ion-card-subtitle>
                  {{item.description}}
                </ion-card-subtitle>
                <ion-card-content>

                </ion-card-content>
              </ion-card-header>
              <ion-button (click)="goToSelectDate(item.name)" color="tertiary">
                Make a Booking
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-card>
            <!--          <div class="ser_div" (click)="selectService(item)">-->
            <!--            <ion-icon name="checkmark-circle" *ngIf="service == item"></ion-icon>-->
            <!--            <ion-icon class="item_icons" name="{{item.img.split('/')[2].split('.')[0]}}" color="secondary"></ion-icon>-->
            <!--            <ion-label>{{item.name}}</ion-label>-->
            <!--            <ion-button class="button-round">-->
            <!--              Make a Booking-->
            <!--              <ion-icon slot="end" name="arrow-forward"></ion-icon>-->
            <!--            </ion-button>-->
            <!--          </div>-->
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>
      </ion-grid>
    </div>


<!--    <div class="btn_div">-->
<!--      <ion-button (click)="goToSelectDate()" shape="round">-->
<!--        Next <ion-icon slot="end" name="arrow-forward"></ion-icon>-->
<!--      </ion-button>-->
<!--    </div>-->

  </div>
</ion-content>
