<app-content-header></app-content-header>

<ion-content style="">
  <div class="main_content_div">
    <ion-label class="simple_lbl" color="primary">About Us</ion-label>
    <img src="assets/imgs/about-us-bg.jpg" alt="about-us">
    <ion-row>
    <ion-col size="10" size-sm="12">
      <p>
        DM CPE offers turnkey home renovation and maintenance solutions for home, offices,
        shopping centres, complexes and any other development projects. We pride ourselves on
        providing a high-quality service, establishing trust and fostering long lasting relationships
        with all our clients. We have skilled and experienced consultants who specialise in carpentry
        and joinery, plumbing and electrical fittings. Contact us and for a specialised consultant to
        assist with any of your home renovation needs.
      </p>
      <p>
        DM CPE was established in 2015 and has completed multiple low-cost, high volume
        carpentry work for housing projects in the buffalo city municipality, as well as customised
        private home renovations. Due to the demand for plumbing and electrical services which
        have often accompanied these carpentry projects, DM CPE has since expanded to offer
        plumbing and electrical services as well. In 2019 DM CPE ventured to offer services in the
        Gauteng area, offering a range of bespoke home renovation and maintenance services.
        Trust, Quality Workmanship and Professional consultation are the DM CPE way.
      </p>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
