<app-content-header></app-content-header>

<ion-content>
  <div class="main_content_div" [class.ios_main]="plt == 'ios'">

    <ion-label class="simple_lbl">Please add your Details</ion-label>

    <ion-label class="small_lbl">Your Name</ion-label>
    <ion-input type="text" [(ngModel)]="clientName" placeholder="Your Name"></ion-input>

    <ion-grid fixed style="clear: both;">
      <ion-row>
        <ion-col size="6" style="padding-left: 0px;">
          <ion-label class="small_lbl">Your City</ion-label>
          <ion-input type="text" [(ngModel)]="city" placeholder="City"></ion-input>
        </ion-col>
        <ion-col size="6" style="padding-right: 0px;">
          <ion-label class="small_lbl">Postal code</ion-label>
          <ion-input type="text" [(ngModel)]="postcode" placeholder="Postal code"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-label class="small_lbl">Your Contact Number</ion-label>
    <ion-input type="text" [(ngModel)]="contactNumber" placeholder="Contact Number"></ion-input>

    <ion-label class="small_lbl">Your Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="clientEmail" placeholder="Email address"></ion-input>

    <ion-label class="small_lbl">Your Street Address</ion-label>

    <ion-textarea placeholder="Your adress" [(ngModel)]="streetAddress" autoGrow="true" rows="4"></ion-textarea>

    <div class="btn_div">
      <ion-button *ngIf="postcode && clientName && clientEmail && postcode && contactNumber && streetAddress" (click)="goToSuceess()" shape="round">
        Next <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
