<!-- <ion-header>
  <ion-toolbar>
    <ion-title>booking-success</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main_content_div">

    <div class="first_div">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label class="small_lbl">You have successfully booked your Service!</ion-label>
      <ion-label class="small_lbl">We will be in contact shortly.</ion-label>
    </div>

    <div class="btn_div">
      <ion-button (click)="goToHome()" expand="block" class="clear_btn" fill="outline" shape="round">
        Home
      </ion-button>

      <ion-button (click)="goToBooking()" expand="block" shape="round">
        View Booking
      </ion-button>
    </div>

  </div>
</ion-content>
