<app-content-header></app-content-header>

<ion-content style="">
  <div class="main_content_div">
    <ion-label class="simple_lbl" color="primary">Corporate Services and Development</ion-label>
    <ion-row>
      <ion-col [sizeLg]="'6'" [sizeXs]="'12'">
        <img src="assets/imgs/corp_banner.jpg" alt="about-us">
      </ion-col>
      <ion-col [sizeLg]="'6'" [sizeXs]="'12'">
        <div class="p-styling-div">
          <p>
            DM CPE works closely with you, as the client, from the first meeting until project completion
            to ensure you get the results you want. We will also offer you expert advice on the latest
            trends in home, office and store design.
          </p>
          <p>
            We have an outstanding team of highly skilled tradespeople, as well as specialised third-
            party service providers to guarantee a full turnkey solution for all your carpentry, plumbing
            and electrical renovation needs.
          </p>
          <p>
            Projects are quoted based on a fair estimation of what is required to complete the task or
            project to a quality standard, using materials of the type and quality required for an excellent
            outcome. Corporate clients please email info@dmcpe.online and one of our dedicated
            consultants will assist with a comprehensive valuation.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
